.env
.env.local
.env.*.local
.virgo-ftp.json
.ftpquota
.vscode/

/cache/*
!/cache/.htaccess

/uploads/*
!/uploads/.htaccess

/admin/error_log
/api/error_log
/error_log
/debug_thumb.log
/translation_debug.log
/debug_gemini.log

*.log
*.tmp
*.bak

node_modules/
node_modules.zip
vendor/**/.git/

Thumbs.db
Desktop.ini
